.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f8f8;
}

.content {
  text-align: center;
  animation: fadeIn 1s ease-in-out;
}

.title {
  font-size: 2rem;
  color: #cf1322;
}

.message {
  font-size: 1rem;
  color: #595959;
  margin-bottom: 1rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
